<!DOCTYPE html>
<html>
<head>
  <title>Viralbeat</title>
  <%= stylesheet_link_tag    "bootstrap", "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "bootstrap", "jquery_ujs", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% end %>

	<% if alert %>
  	<p class="alert"><%= alert %></p>
  <% end %>

	<%= yield %>

</body>
</html>
