<!DOCTYPE html>
<html>
<head>
  <title>Viralbeat</title>
  <%= stylesheet_link_tag    "bootstrap", "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "bootstrap", "jquery_ujs", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Viralbeat Message Board", root_path, :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li><%= link_to "Home", root_url %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% end %>

	<% if alert %>
  	<p class="alert"><%= alert %></p>
  <% end %>

	<%= yield %>
  </div> <!-- /container -->
</div>

</body>
</html>
