<!DOCTYPE html>
<html>
<head>
  <title>Viralbeat</title>
  <%= stylesheet_link_tag    "bootstrap", "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "bootstrap", "jquery_ujs", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Viralbeat Message Board", root_path, :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li><%= link_to "Home", root_url %></li>
            <li><%= link_to "Sign Up", new_user_registration_url %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <% if notice %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%=  notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%=  alert %>
      </div>
    <% end %>  

		<%= yield %>
  </div> <!-- /container -->
</div>

</body>
</html>
